@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
}

/*Elementos*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: rgb(15, 15, 15);
}

p {
  line-height: 1.5em;
  text-indent: 35px;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

figcaption {
  font-size: 0.6em;
  font-weight: lighter;
  font-style: italic;
  line-height: 1em;
  padding-bottom: 1.5px;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
  padding: 20px 0 20px 0;
}

h4 {
  font-size: 0.5em;
  font-weight: 400;
}

span {
  font-weight: 700;
  font-size: 1em;
  padding-left: 150px;
  line-height: 10px;
}


/*Resposividade*/
@media (min-width: 300px) {
  body {
    font-size: 18px;
  }

  .grid-contacts {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 10px);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;
  }

  .grid-contacts a {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgb(15, 15, 15);
    color: rgb(15, 15, 15);
    font-size: 1em;
  }

  .fab {
    margin-top: 4px;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 22px;
  }

  .grid-contacts {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 12px);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }

  .grid-contacts a {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border: 2px solid rgb(15, 15, 15);
    color: rgb(15, 15, 15);
    font-size: 1em;
  }

  .fab {
    margin-top: 0;
  }
}

@media (min-width: 760px) { 
  .first-section {
    height: 85vh;
  }

  .first-section img {
    width: 550px;
    height: 240px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
    padding: 20px;
  }

  .fab {
    display: block;
    font-size: 3em;
    margin-left: 80px;
  }
}

/*Estilos Header*/
.menu {
  background-color: rgba(207, 207, 207);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu a {
  display: block;
  padding: 20px 5px 20px 5px;

  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  color: rgb(15, 15, 15);  
  transition: border-bottom, color, 0.3s;
}

.menu a:hover,
.menu a:active {
  border-bottom: 5px solid rgb(240, 76, 76);
  color: rgb(240, 76, 76);
}

/*Estilos Seção 1 - Introdução*/
.first-section {
  height: 90vh;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: gold;
}

.introduction {
  margin: 0 auto;
}

/*.first-section h1 {
  font-size: 3em;
  text-align: center;
  padding: 75px 5px 0 0;
}*/

.first-section img {
  width: 320px;
  height: 320px;
  margin-top: 5px;
}

/*Breakpoint*/
@media (orientation: landscape) {
  /*.first-section h1 {
    font-size: 2.5em;
    margin-top: 1px;
  }*/

  .first-section {
    min-height: 95vh;
  }

  .first-section img {
    width: 280px;
    height: 280px;
    margin-top: 70px;
    margin-right: auto; 
    margin-left: auto;
    padding: 20px;
  }
}

/*Estilos Sessão 2 - Sobre*/
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 40px 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex img {
  padding-top: 20px;
  width: 250px;
  height: 145px;
}

/*Estilos Sessão 3 - Projetos*/
.img-projects img{
  width: 290px;
  height: 145px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: center top;
}

.img-projects img:hover,
.img-projects img:active {
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.grid {
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.grid p {
  padding-top: 5px;
  padding-bottom: 10px;
}

/*Responsividade Grid dos Projetos*/
@media (min-width: 1300px) {
   .grid {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 260px;
    grid-column-gap: 25px;
    margin: 20px;
  }

  .img-projects img {
    width: 600px;
    height: 260px;
  }
}

/*.grid-contacts {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 60px;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}*/

/*.grid-contacts {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(3, 10px);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}*/

/*.container { 
  grid-area: 1 / 1 / 4 / 2;
}*/


.fab {
  display: block;
  font-size: 3em;
  margin-left: 80px;
}

.fa-github-square {color: #333;}
.fa-linkedin {color:#00a0dc}
.fa-twitter-square {color: #1da1f2}

.grid-contacts a:hover,
.grid-contacts a:active{
  background-color: rgba(207, 207, 207, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.footer {
  display: flex;
  margin-top: 40vh;
  padding: 10px;
  justify-content: center;

  text-align: center;
  background-color: rgba(207, 207, 207, 0.85);
}

.footer a {
  color: rgb(15, 15, 15);
  text-decoration: underline;
}
